- content_for :head do
  %title FunctioSheet

- content_for :script do
  = javascript_include_tag "application"

  :coffeescript
    collection = new Functio.Models.Table [
      {name: "Tim", coolness: 21, age: 5}
      {name: "Ida", coolness: 32, age: 26}
      {name: "Rob", coolness: 19, age: 55}
    ]

    table = new Functio.Views.Table
      collection: collection

    table.render().$el.appendTo '#main'

    oldies = collection.composed ->
      @filter (item) ->
        item.get('age') > 10

    oldies.title = "Oldies"

    table = new Functio.Views.Table
      collection: oldies

    table.render().$el.appendTo '#main'
